@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1, h2, h3, h4, h5, h6, input, button, a, footer {
    font-family: 'Oswald', sans-serif;
}

.quebra-quebra {
    text-wrap: wrap;
    overflow-wrap: break-word;
}